<script type="text/template" id="payments-template">
  <tr>
    <td class='tier-1'><%%= id %></td>
    <td class='tier-1'><%%= processor_id %></td>
    <td class='tier-1'><%%= customer_id %></td>
    <td class='tier-1'><%%= trans_date %></td>
    <td class='tier-2'><%%= trans_subtotal %></td>
    <td class='tier-3'><%%= trans_tax %></td>
    <td class='tier-3'><%%= trans_shipping %></td>
    <td class='tier-1'><%%= trans_total %></td>
    <td class='tier-3 wide'><%%= trans_memo %></td>
  </tr>
</script>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="tier-1">Trans ID</th>
        <th class="tier-1">Processor ID</th>
        <th class="tier-1">Customer ID</th>
        <th class="tier-1">Date</th>
        <th class="tier-2">Subtotal</th>
        <th class="tier-3">Tax</th>
        <th class="tier-3">Shipping</th>
        <th class="tier-1">Total</th>
        <th class="tier-3 wide">Memo</th>
      </tr>
    </thead>
    <tbody id='payment-row'>
        <!-- Backbone collection will fill this $el -->
    </tbody>
  </table>
