<script type="text/template" id="payments-template">
  <tr>
    <td class='tier-1 sm-col'><%%= id %></td>
    <td class='tier-1 wd-col'><%%= processor_name %></td>
    <td class='tier-1 wd-col'><%%= customer_name %></td>
    <td class='tier-1 md-col'><%%= trans_date %></td>
    <td class='tier-2 md-col'><%%= trans_subtotal %></td>
    <td class='tier-3 md-col'><%%= trans_tax %></td>
    <td class='tier-3 md-col'><%%= trans_shipping %></td>
    <td class='tier-1 md-col'><%%= trans_total %></td>
    <td class='tier-3 xwd-col'><%%= trans_memo %></td>
  </tr>
</script>
  <button type="submit" id='refresh-list' class="btn btn-default">Refresh</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="tier-1 sm-col">Trans#</th>
        <th class="tier-1 wd-col">Processor</th>
        <th class="tier-1 wd-col">Customer</th>
        <th class="tier-1 md-col">Date</th>
        <th class="tier-2 md-col">Subtotal</th>
        <th class="tier-3 md-col">Tax</th>
        <th class="tier-3 md-col">Shipping</th>
        <th class="tier-1 md-col">Total</th>
        <th class="tier-3 xwd-col">Memo</th>
      </tr>
    </thead>
    <tbody id='payment-row'>
        <!-- Backbone collection will fill this $el -->
    </tbody>
  </table>
