/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// VARIABLES FOR SASS

$font-stack: Verdana, serif;
$primary-dark-color: rgb(0,0,0);
$primary-light-color: rgb(255,255,255);
$primary-contrast-color: rgb(166, 76, 100);
$logo-font-family: fantasy;
$data-font-size: 11px;

// APPLICATION SCSS

 body {
   background: radial-gradient(white, black);
   font-family: $font-stack;
   margin: 0;
   padding: 0;
 }
 #wrapper {
  width: 70%;
  margin: -20px auto 0 auto;
  padding: 0;
  background-color: $primary-light-color;
}
header {
  margin: 2%;
}
.logo {
  padding-top: 3%;
}
img {
  float: left;
}
h1 {
  float: left;
  font-family: $logo-font-family;
  margin-top: 0;
  margin-left: 2px;
}
.title {
  clear: both;
  color: $primary-light-color;
  background-color: $primary-contrast-color;
  margin: 0 -2% 0 -2%;
  padding: .1% 2% .1% 2%;
}
table {
  margin-left: 2%;
  margin-right: 2%;
  font-size: $data-font-size;
  border-collapse: collapse;
}
td, th {
  margin: 0;
  padding: 4px 10px 4px 10px;
  border: 1px solid $primary-contrast-color;
  white-space: nowrap;
}
.wide {
    width: 60%;
}
footer {
  background-color: $primary-contrast-color;
}

@media (max-width: 1000px) {
  .tier-3 {
    display: none;
  }

}

@media (max-width: 700px) {
  .tier-2 {
    display: none;
  }
}
